In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.appName("Dsay 6 DataFrame").getOrCreate())

## Data Preparation 

a.	Copy and save the data and name it as employee.txt

In [3]:
file = spark.sparkContext.textFile('C:/Users/Lenovo/Documents/employee.txt')

In [4]:
words = file.map(lambda x: x.split(","))

In [5]:
#clean the data, convert string id to integer and string age to integer
ID = [int(ID[0]) for ID in words.collect()]
name = [name[1] for name in words.collect()]
age = [int(age[2]) for age in words.collect()]
contents = list(zip(ID, name, age))

In [6]:
contents = list(zip(ID, name, age))

### `b. Get DataFrame from RDD where "ID: 1, name: Ella, age: 36‚Äù `

In [7]:
rdd = spark.sparkContext.parallelize(contents)

In [8]:
rdd.filter(lambda x: x[0] == 1).collect()

[(1, 'Ella', 36)]

### `c. Print out all the data.`

In [9]:
for word in contents:
        print("\"ID:", word[0], ", name:", word[1], ", age:", word[2], "\"")

"ID: 1 , name: Ella , age: 36 "
"ID: 2 , name: Bob , age: 29 "
"ID: 3 , name: Jack , age: 29 "