In [84]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import SQLContext, HiveContext
from pyspark import SparkConf, SparkContext

spark = (SparkSession.builder.appName("Day 5 RDDS").getOrCreate())
sqlContext = SQLContext(spark.sparkContext)
sc = spark.sparkContext

In [85]:
#insert data and field description
student_data = [('Computer', 'Huangxiaoming', [85,86,41,75,93,42,85]),
        ('Computer', 'Xuzheng', [54,52,86,91,42]),
        ('Computer', 'Huangbo', [85,42,96,38]),
        ('English', 'Zhaobenshan', [54,52,86,91,42,85,75]),
        ('English', 'Liuyifei', [85,41,75,21,85,96,14]),
        ('Algorithm', 'Liuyifei', [75,85,62,48,54,96,15]),
        ('Computer', 'Huangjiaju', [85,75,86,85,85]),
        ('English','Liuyifei', [76,95,86,74,68,74,48]),
        ('English', 'Huangdatou', [48,58,67,86,15,33,85]),
        ('Algorithm', 'Huanglei', [76,95,86,74,68,74,48]),
        ('Algorithm', 'Huangjiaju', [85,75,86,85,85,74,86]),
        ('Computer', 'Huangdatou', [48,58,67,86,15,33,85]),
        ('English', 'Zhouqi', [85,86,41,75,93,42,85,75,55,47,22]),
        ('English', 'Huangbo', [85,42,96,38,55,47,22]),
        ('Algorithm', 'Liutao', [85,75,85,99,66]),
        ('Computer', 'Huangzitao', [85,86,41,75,93,42,85]),
        ('Math', 'Wangbaoqiang', [85,86,41,75,93,42,85]),
        ('Computer', 'Liujialing', [85,41,75,21,85,96,14,74,86]),
        ('Computer', 'Liuyifei', [75,85,62,48,54,96,15]),
        ('Computer', 'Liutao', [85,75,85,99,66,88,75,91]),
        ('Computer', 'Huanglei', [76,95,86,74,68,74,48]),
        ('English', 'Liujialing', [75,85,62,48,54,96,15]),
        ('Math', 'Huanglei', [76,95,86,74,68,74,48]),
        ('Math', 'Huangjiaju', [85,75,86,85,85,74,86]),
        ('Math', 'Liutao', [48,58,67,86,15,33,85]),
        ('English', 'Huanglei', [85,75,85,99,66,88,75,91]),
        ('Math', 'Xuzheng', [54,52,86,91,42,85,75]),
        ('Math', 'Huangxiaoming', [85,75,85,99,66,88,75,91]),
        ('Math', 'Liujialing', [85,86,41,75,93,42,85,75]),
        ('English', 'Huangxiaoming', [85,86,41,75,93,42,85]),
        ('Algorithm', 'Huangdatou', [48,58,67,86,15,33,85]),
        ('Algorithm', 'Huangzitao', [85,86,41,75,93,42,85,75])
       ]

In [46]:
#compute average for column scores
def average(score_list):
    return round(sum(score_list)/len(score_list),2)

# zip course, names and scores columns
Course = []
Names = []
Scores = []

for st in student_data:
    Course.append(st[0])
    Names.append(st[1])
    Scores.append(average(st[2]))

In [47]:
#make a list of student details in order to create dataframe
student_details = list(zip(Course, Names, Scores))
student_details

[('Computer', 'Huangxiaoming', 72.43),
 ('Computer', 'Xuzheng', 65.0),
 ('Computer', 'Huangbo', 65.25),
 ('English', 'Zhaobenshan', 69.29),
 ('English', 'Liuyifei', 59.57),
 ('Algorithm', 'Liuyifei', 62.14),
 ('Computer', 'Huangjiaju', 83.2),
 ('English', 'Liuyifei', 74.43),
 ('English', 'Huangdatou', 56.0),
 ('Algorithm', 'Huanglei', 74.43),
 ('Algorithm', 'Huangjiaju', 82.29),
 ('Computer', 'Huangdatou', 56.0),
 ('English', 'Zhouqi', 64.18),
 ('English', 'Huangbo', 55.0),
 ('Algorithm', 'Liutao', 82.0),
 ('Computer', 'Huangzitao', 72.43),
 ('Math', 'Wangbaoqiang', 72.43),
 ('Computer', 'Liujialing', 64.11),
 ('Computer', 'Liuyifei', 62.14),
 ('Computer', 'Liutao', 83.0),
 ('Computer', 'Huanglei', 74.43),
 ('English', 'Liujialing', 62.14),
 ('Math', 'Huanglei', 74.43),
 ('Math', 'Huangjiaju', 82.29),
 ('Math', 'Liutao', 56.0),
 ('English', 'Huanglei', 83.0),
 ('Math', 'Xuzheng', 69.29),
 ('Math', 'Huangxiaoming', 83.0),
 ('Math', 'Liujialing', 72.75),
 ('English', 'Huangxiaoming', 72.43),
 ('Algorithm', 'Huangdatou', 56.0),
 ('Algorithm', 'Huangzitao', 72.75)]

In [48]:
#a. Create a Spark dataframe for student_details
df = spark.createDataFrame(student_details, ["Course", "Student", "Score"])

In [49]:
df.collect()

[Row(Course='Computer', Student='Huangxiaoming', Score=72.43),
 Row(Course='Computer', Student='Xuzheng', Score=65.0),
 Row(Course='Computer', Student='Huangbo', Score=65.25),
 Row(Course='English', Student='Zhaobenshan', Score=69.29),
 Row(Course='English', Student='Liuyifei', Score=59.57),
 Row(Course='Algorithm', Student='Liuyifei', Score=62.14),
 Row(Course='Computer', Student='Huangjiaju', Score=83.2),
 Row(Course='English', Student='Liuyifei', Score=74.43),
 Row(Course='English', Student='Huangdatou', Score=56.0),
 Row(Course='Algorithm', Student='Huanglei', Score=74.43),
 Row(Course='Algorithm', Student='Huangjiaju', Score=82.29),
 Row(Course='Computer', Student='Huangdatou', Score=56.0),
 Row(Course='English', Student='Zhouqi', Score=64.18),
 Row(Course='English', Student='Huangbo', Score=55.0),
 Row(Course='Algorithm', Student='Liutao', Score=82.0),
 Row(Course='Computer', Student='Huangzitao', Score=72.43),
 Row(Course='Math', Student='Wangbaoqiang', Score=72.43),
 Row(Course='Computer', Student='Liujialing', Score=64.11),
 Row(Course='Computer', Student='Liuyifei', Score=62.14),
 Row(Course='Computer', Student='Liutao', Score=83.0),
 Row(Course='Computer', Student='Huanglei', Score=74.43),
 Row(Course='English', Student='Liujialing', Score=62.14),
 Row(Course='Math', Student='Huanglei', Score=74.43),
 Row(Course='Math', Student='Huangjiaju', Score=82.29),
 Row(Course='Math', Student='Liutao', Score=56.0),
 Row(Course='English', Student='Huanglei', Score=83.0),
 Row(Course='Math', Student='Xuzheng', Score=69.29),
 Row(Course='Math', Student='Huangxiaoming', Score=83.0),
 Row(Course='Math', Student='Liujialing', Score=72.75),
 Row(Course='English', Student='Huangxiaoming', Score=72.43),
 Row(Course='Algorithm', Student='Huangdatou', Score=56.0),
 Row(Course='Algorithm', Student='Huangzitao', Score=72.75)]

In [50]:
#b. Find the average score of each course 
from pyspark.sql.functions import avg
averages = df.groupBy('Course').agg(avg('Score').alias('Scores'))

In [75]:
averages.show()

+---------+-----------------+
|   Course|           Scores|
+---------+-----------------+
|     Math|72.88428571428572|
|Algorithm|71.60166666666667|
|  English|66.22666666666666|
| Computer|           69.799|
+---------+-----------------+

In [76]:
#convert dataframe to rdd
averageRDD = averages.rdd

In [78]:
#clean data by mapping course and scores
averageRDD = averageRDD.map(lambda x: (x[0], x[1]))
averageRDD.collect()

[('Math', 72.88428571428572),
 ('Algorithm', 71.60166666666667),
 ('English', 66.22666666666666),
 ('Computer', 69.799)]

In [83]:
#parallelize average_rdd (remove the row object)
averagerdds = sc.parallelize(averageRDD)

In [68]:
#save it to a file
averagerdds.saveAsTextFile('C:/Users/Lenovo/Documents/averagescore')

In [92]:
#c. Sort the average score in descending order (keep a decimal place)
from pyspark.sql import functions as F
import pyspark.sql.functions as func

df_avg = df.groupBy('Course').agg(avg('Score').alias('Scores'))
df_avg.withColumn('Scores', func.round(df_avg['Scores'],2)).orderBy('Scores', ascending=False).show()

+---------+------+
|   Course|Scores|
+---------+------+
|     Math| 72.88|
|Algorithm|  71.6|
| Computer|  69.8|
|  English| 66.23|
+---------+------+

In [91]:
#d. Find the student with the highest score in each course: course, name and average score.
from pyspark.sql.window import Window
from pyspark.sql.functions import desc, max, col
from pyspark.sql.functions import dense_rank, rank

w = Window.partitionBy("Course").orderBy(col("Score").desc())

df.withColumn("rank", dense_rank().over(w)).select("Course", "Student","Score").where("rank == 1").show()

+---------+-------------+-----+
|   Course|      Student|Score|
+---------+-------------+-----+
|     Math|Huangxiaoming| 83.0|
|Algorithm|   Huangjiaju|82.29|
|  English|     Huanglei| 83.0|
| Computer|   Huangjiaju| 83.2|
+---------+-------------+-----+