In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.appName("Day 7 question 2").master("local[1]").enableHiveSupport().getOrCreate())

# Data Preparation for sparksql

In [3]:
spark.sql("CREATE DATABASE IF NOT EXISTS day7")
spark.sql("USE day7")

DataFrame[]

In [4]:
spark.sql("""create table if not exists edu_admin(name string, subject string, mark int)""")

DataFrame[]

In [5]:
spark.sql("""insert into edu_admin values
('Tom', 'Database', 80),
('Tom', 'Algorithm', 50),
('Tom', 'Data Structure', 60),
('Jim', 'Database', 90),
('Jim', 'Algorithm', 60),
('Jim', 'Data Structure', 80)""").show()

++
||
++
++

In [6]:
spark.sql("select * from edu_admin").show()

+----+--------------+----+
|name|       subject|mark|
+----+--------------+----+
| Tom|      Database|  80|
| Tom|     Algorithm|  50|
| Tom|Data Structure|  60|
| Jim|      Database|  90|
| Jim|     Algorithm|  60|
| Jim|Data Structure|  80|
+----+--------------+----+

### `(1) How many students in total?`

In [7]:
spark.sql("""select count(distinct name) as Total_Student from edu_admin""").show(truncate=True)

+-------------+
|Total_Student|
+-------------+
|            2|
+-------------+

### `(2) How many courses in total?`

In [8]:
spark.sql("select count(distinct subject) as Total_Course from edu_admin").show(truncate=True)

+------------+
|Total_Course|
+------------+
|           3|
+------------+

### `(3) What is the average score of Tom?`

In [9]:
spark.sql("""select round(avg(mark),2) as Average_Score_Tom 
          from edu_admin where name = 'Tom'""").show(truncate=True)

+-----------------+
|Average_Score_Tom|
+-----------------+
|            63.33|
+-----------------+

### `(4) Find the number of courses each student chooses.`

In [10]:
spark.sql("""select distinct name, count(*) as No_of_Courses_Taken 
          from edu_admin group by name""").show(truncate=True)

+----+-------------------+
|name|No_of_Courses_Taken|
+----+-------------------+
| Jim|                  3|
| Tom|                  3|
+----+-------------------+

### `(5) How many students take the database course in the Department?`

In [11]:
spark.sql("""select count(*) as No_of_Students_Database
          from edu_admin
          where subject = 'Database'
          group by subject""").show(truncate=True)

+-----------------------+
|No_of_Students_Database|
+-----------------------+
|                      2|
+-----------------------+

### `(6) What is the average score of each course?`

In [12]:
spark.sql("""select subject, avg(mark) as Average_Score from edu_admin group by subject""").show(truncate=True)

+--------------+-------------+
|       subject|Average_Score|
+--------------+-------------+
|     Algorithm|         55.0|
|Data Structure|         70.0|
|      Database|         85.0|
+--------------+-------------+